@import './markdown.css';
@import './custom-block.css';

:root {
  /* --un-prose-body: #bbb; */
  --un-prose-links: #000;
  --highlight-line-bg: #161618;
  --code-bg: #292b30;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html.dark {
  --un-prose-body: #bbb;
  --un-prose-links: #ddd;
  --highlight-line-bg: #292b30;
  --code-bg: #161618;
  background: #1e1e20;
  color-scheme: dark;
}
